.collapse {
  flex-grow: 0 !important;
}

nav {
  background: #bb2339;
  padding: 27px 0;
}

a.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.nav-item {
  padding: 0 15px;
}

header {
  background: #bb2339;
}

#index #hero {
  background: #bb2339;
  padding-bottom: 100px;
}
#index #hero .row {
  align-items: center;
}
#index #hero .row .hero__left {
  padding-top: 140px;
}
#index #hero .row .hero__left .hero__sup__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
#index #hero .row .hero__left .hero__title {
  max-width: 555px;
  padding-top: 25px;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #ffffff;
}
#index #hero .row .hero__left .hero__text {
  max-width: 453px;
  padding-top: 20px;
  padding-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.7;
}
#index #hero .row .hero__left a.button {
  padding: 8px 32px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-decoration: none;
}
#index #hero .row .hero__left a.button:hover {
  background-color: #fff;
  color: #bb2339;
}
#index #hero .row .hero__right img {
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 991px) {
  #index #hero .row {
    flex-flow: column-reverse;
  }
  #index #hero .hero__right {
    width: 100%;
    padding-top: 50px;
    margin: auto;
  }
  #index #hero .hero__left {
    padding-top: 50px !important;
  }
  #index #hero .hero__left .hero__title {
    font-size: 4rem !important;
  }
}
#index #dish {
  background: #f8f8f8;
  padding-bottom: 100px;
}
#index #dish .dish__title {
  padding-top: 120px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #bb2339;
}
#index #dish .card {
  margin: auto;
  border: none;
  width: 95%;
}
#index #dish .card .card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
  padding-bottom: 20px;
}
#index #dish .card .card__star {
  width: 50%;
  margin: auto;
}
#index #dish .card .card__sell {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #bb2339;
  padding: 20px 0;
}
#index #menu .menu__title {
  padding-top: 120px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #bb2339;
}
#index #menu .menu__link {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px 0;
}
#index #menu .menu__link a {
  border: 1px solid #bb2339;
  border-radius: 15px;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #242424;
  text-decoration: none;
}
#index #menu .menu__link a:hover {
  background: #bb2339;
  color: #fff;
}
#index #menu .row_item {
  padding-top: 60px;
  padding-bottom: 100px;
}
#index #menu .row_item h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
}
#index #menu .row_item h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #bb2339;
}
#index #commit {
  background-color: #f4f4f4;
}
#index #commit .commit_sup_title {
  text-align: center;
  padding-top: 100px;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
#index #commit .commit_title {
  text-align: center;
  padding-top: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
#index #commit .row {
  padding-top: 60px;
  padding-bottom: 80px;
}
#index #commit .row .commit_div div {
  width: 95%;
  background: #fff;
  border-radius: 15px;
}
#index #commit .row .commit_div div h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
  padding: 30px 0 0 20px;
}
#index #commit .row .commit_div div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  opacity: 0.7;
  padding: 10px 0 50px 20px;
}
#index #video .video_style {
  background-color: black;
  z-index: 0;
  position: relative;
}
#index #video .play {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  z-index: 99999;
}/*# sourceMappingURL=index.css.map */